.git
.github
.husky
coverage
src
tests
.eslintrc.js
.gitignore
.npmignore
.release-it.json
tsconfig.json
vite.config.ts
*.test.ts
*.spec.ts
*.log
pnpm-lock.yaml 
docs
.DS_Store
.vscode
.idea
.env
.env.local
.env.development
.env.production
to-do.md
.release-it.json

